//TODO: define color variable

.category-item{
    border: 1px solid #00bfff;
    margin: 1em;
    color: #7f7f7f;
}

.category-item:hover{
    cursor: pointer;
}

.category-item.selected{
    background-color: #00bfff;
    color: #ffffff;
}