.search-bar-wrap{
    width: 60%;
    padding: 2em 0;
}

.search-bar{
    width: 100%;
    height: 3em;
    color: #bbbbbb;
}

.search-icon{
    height: 3em;
    width: 3em;
    left: -50px;
    background: url(./icons/search.svg);
}